<h1>followings</h1>

<!-- followingsが空でない場合 -->
<% if @following_users.any? %>
<div class="row">
    <ol class="followings">
    <% @following_users.each do |following| %>
       <li class="following">
            <div class="col-md-2 col-md-offset-2">
                <!-- Gravatarへのリンクを表示 -->
                <%= link_to gravatar_for(following, size: 50), following %>
            </div>
            <!-- ユーザーの詳細画面へのリンクを表示 -->
            <span class="user col-md-4">
                <%= link_to following.name, following %>
            </span>
        </li>
    <% end %>
    </ol>
<% end %>
</div>