<%# @userにエラーがある場合 %>
<% if object.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            <!-- pluralize: 複数形に変換する。例）The form contains 3 errors. -->
            The form contains <%= pluralize(object.errors.count, "error") %>.
        </div>
        <ul>
            <%# エラーメッセージを全て表示 %>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>